- content_for :head do
  = javascript_include_tag "trading_day"
.main
  #statistics
    #bullet_chart
    .stocks
      - @trading_day.stocks_profit_and_loss.by_profit_and_loss.each do |spnl|
        %div{:class => "button #{(spnl.profit_and_loss > 0 ? 'green' : 'red')}"}
          = spnl.symbol
    
    #line_chart
      %h3
        Profit & Loss Analisys
    %h2
      Executions
    %table.executions
      %thead
        %tr
          %th Time
          %th Symbol
          %th Shares
          %th Price
          %th Side
          %th Contra
          %th Liquidity
          %th P&L
      %tbody
        - @trading_day.executions.each do |e|
          %tr{:class => "#{e.symbol.downcase} #{cycle('odd', 'even')} execution"}
            %td.execution_time
              = e.execution_time.strftime("%H:%M:%S")
            %td.symbol
              = e.symbol.upcase
            %td.shares
              = e.shares
            %td.price
              = e.price
            %td.side
              = e.side
            %td.contra
              = e.contra
            %td.liquidity
              = e.liquidity
            %td.profit_and_loss
              -if e.profit_and_loss != 0.0
                = e.profit_and_loss
    
