.main
  #day_statistics
    
  %h3 
    = "Executions for #{@trading_day.date}"
  %table#executions
    %thead
      %tr
        %th Time
        %th Symbol
        %th Shares
        %th Price
        %th Side
        %th Contra
        %th Liquidity
        %th P&L
    %tbody
      - @trading_day.executions.each do |e|
        %tr{:class => cycle('odd', 'even')}
          %td
            = e.execution_time.strftime("%H:%M:%S")
          %td
            = e.symbol.upcase
          %td
            = e.shares
          %td
            = e.price
          %td
            = e.side
          %td
            = e.contra
          %td
            = e.liquidity
          %td
            -if e.profit_and_loss != 0.0
              = e.profit_and_loss 
    
  
    
