!!!
%html
  %head
    %title Trade Analizer
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "d3.v2"
    = yield :head
    = csrf_meta_tags
  %body.page
    %header
      .title
        = link_to "Trade Analizer", root_path
      %nav
        %ul
          %li
            Some
          %li
            Content
          %li
            Here
    .clear
    .content
      = yield
    .footer
      Done by @CamonZ